@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway&family=Roboto:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    background: url('../img/background.jpg') no-repeat;
    background-position-y: -2000px;
}

.content {
    width: 1300px;
    margin: auto;
}

.product {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    background-color: rgba(255, 235, 205, 0.9);
    height: 700px;
    padding-top: 65px;
}

.product__top-row {
    width: 1300px;
    display: flex;
    justify-content: space-around;
    height: 400px;
}

.product__thumbnail {
    height: 400px;
    width: calc(100%/5*3);
}

.product__interactive-block {
    height: 400px;
    width: calc(100%/4);
}

.interactive__header {
    margin: 20px;
}

.interactive__desc {
    margin: 20px;
}

.interactive__duration {
    margin-left: 20px;
}

.interactive__price {
    margin-right: 20px;
}

.interactive__row {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}

.interactive__add-to-cart {
    border: none;
    outline: 0;
    padding: 12px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.product__description {
    margin-top: 65px;
    width: 1170px;
    margin-left: 65px;
}

.thumbnail__picture {
    max-width:100%;
    max-height:100%;
}